.footer {
    padding: 30px 0px 70px 0px;
    width: 100%;
    background-image: url(../image/bg_last.jpg);
    background-size: cover;
    background-position: center top;
    color: #fff;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        justify-content: space-around;
    }

    &__header {
        margin-bottom: 50px;

        & ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__number {
        text-decoration: none;
        color: #fff;
    }
}

.social a {
    cursor: pointer;
    vertical-align: top;
    transition: 200ms;
    margin: 0 2px 0 2px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    display: inline-block;
    background-image: url(../image/svg/icons_instagram.svg);
}

.social a:nth-child(2) {
    background-image: url(../image/svg/icons_vk.svg);
}

.footer__item {
    position: relative;
}

.footer__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 30px;
    height: 42px;
    background-image: url(../image/bg_icons_contacts.png);
    background-repeat: no-repeat;
}

.phone::before {
    background-position: 0 0;
}

.location::before {
    background-position: -30px 0;
}

@media (max-width:767px) {
    .footer__header ul {
        flex-direction: column;
        align-items: center;
    }

    .footer__item {
        margin: 20px;
    }
}