.often_question {
    width: 100%;
    margin-bottom: 20px;
    
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__body {
        max-width: 1000px;
        margin: 0 auto;
    }

    .often_question__title {
        padding-top: 50px;
    }
}

.accordion {
    border-radius: 10px;
    position: relative;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion-item {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.accordion-item__content {
    padding: 20px;
}

.accordion.active {
    margin-bottom: 0;
    background-color: rgb(223, 83, 83);
}

.accordion::after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active::after {
    content: "\2796";
}
