.sale__title {
    font-size: 55px;
    line-height: 1.1em;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.sale__container {
    max-width: 1200px;
}

.sale__body {
    margin: 20px 0;
}

.sale__footer {
    display: flex;
    justify-content: center;
}

h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90px;
    height: 7px;
    background-color: #cd291e;
}

.sale__btn {
    width: 280px;
    margin-bottom: 50px;
}

//Swiper


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 70%;
    width: 80%;
}

.mySwiper {
    margin-top: 10px;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 20%;
    height: 80%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: #cd291e;
}


@media (max-width: 767px) {
    .sale__container {
        max-width: 320px;
    }

    .sale__header {
        margin-top: 100px;
    }

    .sale__title {
        font-size: 25px;
    }

    .mySwiper {
        display: none;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        background-color: brown;
        border-radius: 5px;
    }
}