.sale {
    &__container {
        max-width: 1200px;
    }

    &__body {
        margin: 20px 0;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__btn {
        width: 280px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .sale__container {
        max-width: 320px;
    }

    .sale__header {
        margin-top: 100px;
    }

    .sale__title {
        font-size: 25px;
    }
}