.sale__container {
    max-width: 1200px;
}

.sale__body {
    margin: 20px 0;
}

.sale__footer {
    display: flex;
    justify-content: center;
}

h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90px;
    height: 7px;
    background-color: #cd291e;
}

.sale__btn {
    width: 280px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .sale__container {
        max-width: 320px;
    }

    .sale__header {
        margin-top: 100px;
    }

    .sale__title {
        font-size: 25px;
    }
}