.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body._lock {
	overflow: hidden;
}

.call__number {
    z-index: 50;
    text-decoration: none;
    color: #fff;
}

.button {
    padding: 10px;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
}